.login-form {
    width: 300px;
    margin: 0 auto;
}

.login-form-button {
    width: 300px;
}

.login-container {
    display: flex;
    height: 90vh;
}

.login-left {
    flex-grow: 1;
}

.login-right {
    flex-grow: 1;
    align-self: center;
}